h1{
    color:rgb(255, 47, 130);
    font-size: 2.5em;
    text-align: center;
    margin-top: 20px;
}
h2{
    color:rgb(53, 132, 117);
    font-size: 1em;
    text-align: center;
    margin-top: 1cm;
}
p{
    color:rgb(28, 101, 75);
    font-size: 1.2em;
    text-align: center;
    margin-top: 20px;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;  
    font-size:x-large;
    clour:pink;
}
li{
    display: inline-block;
}
body{
    background-color:#E0E7D7;
        background-image: url("https://images.unsplash.com/photo-1506744038136-46273834b3fb?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
